langchain
langchain-groq
langchain-community
langchain-google-genai
langchain-openai
langgraph

chromadb

pypdf
python-docx

streamlit
fastapi
uvicorn

tavily-python
firecrawl-py

python-dotenv
pydantic

requests
beautifulsoup4
langchain-groq
pytest